.title-contact {
  margin: 7% 7% 3% 7%;
  padding: 3% 0;
  border-radius: 15px;
  box-shadow: 0 0 10px map-get($color, shadow-secondary-3);
  color: map-get($color, secondary-color);
  text-align: center;
  @include transition-1(300ms);

  &:hover {
    box-shadow: 0 0 12px map-get($color, shadow-secondary-5);
    transform: translateY(-5%);
  }
}

.container-con {
  display: flex;
  justify-content: center;
  align-items: center;

  .section-con {
    padding: 6% 0;
    margin: 8% 4%;
    width: 80%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 0 15px map-get($color, shadow-secondary-3);

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title-form {
        color: map-get($color, shadow-secondary-8);
        font-size: 140%;
        margin-bottom: 10%;
      }

      .form-input {
        width: 70%;
        margin: 2%;
        padding: 1%;
        border-radius: 8px;
        border: 0;
        height: 90%;
        @include transition-1(300ms);

        &:hover {
          background-color: map-get($color, shadow-secondary-3);
          box-shadow: 0 0 15px map-get($color, shadow-secondary-8);
        }
      }

      .message {
        margin: 2% 0;
        resize: none;
      }

      .submit-button {
        padding: 1% 2%;
        margin: 2%;
        width: 20%;
        border-radius: 10px;
        border: 0;
        @include transition-1(300ms);

        &:hover {
          background-color: map-get($color, shadow-primary-9);
          color: map-get($color, shadow-secondary-8);
          box-shadow: 0 0 15px map-get($color, shadow-secondary-8);
        }
      }
    }
  }
}

/* Media Queries */

@media (min-width: 768px) {
  .title-contact {
    font-size: 250%;
  }

  .container-con {
    .section-con {
      width: 55%;
      margin: 8% 4%;
      padding-bottom: 6%;

      form {
        .title-form {
          font-size: 190%;
          margin-bottom: 8%;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .title-contact {
    font-size: 220%;
    padding: 2% 0;
  }

  .container-con {
    .section-con {
      width: 40%;
      margin: 6% 4%;
      padding-bottom: 6%;

      form {
        .title-form {
          font-size: 180%;
          margin-bottom: 6%;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .title-contact {
    font-size: 220%;
    padding: 1% 0;
    margin: 4% 7% 3% 7%;
  }

  .container-con {
    .section-con {
      width: 40%;
      margin: 6% 4%;
      padding-bottom: 5%;

      form {
        .title-form {
          font-size: 180%;
          margin-bottom: 6%;

          .submit-button {
            font-size: 120%;
          }
        }
      }
    }
  }
}
