.title-index {
  background-color: map-get($color, primary-color);
  text-align: center;
  padding: 3% 0;
  margin: 7%;
  border: solid 1px map-get($color, shadow-secondary-3);
  border-radius: 15px;
  font-size: 210%;
  color: map-get($color, secondary-color);
  box-shadow: 0 0 10px map-get($color, shadow-secondary-3);
  @include transition-1 (400ms);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;

  &:hover {
    box-shadow: 0 0 12px map-get($color, shadow-secondary-5);
    transform: translateY(-5%);
  }
}

.third-section-index {
  margin: 4% 0;
  padding: 10% 15%;
  background-color: map-get($color, shadow-secondary-3);
  box-shadow: 0 0 15px map-get($color, shadow-secondary-3);
  color: map-get($color, secondary-color);
  @include transition-1 (300ms);

  &:hover {
    background-color: map-get($color, shadow-secondary-8);
    box-shadow: 0 0 20px map-get($color, shadow-secondary-8);
    color: map-get($color, primary-color);
  }

  .p-eslogan {
    font-weight: 700;
    font-size: 140%;
    text-align: center;
    @include transition-1 (300ms);
  }
}

.fourth-section-index {
  padding: 30%;
  background-color: map-get($color, shadow-secondary-5);
}
