.title-index {
  background-color: map-get($color, primary-color);
  text-align: center;
  padding: 3% 0;
  margin: 7%;
  border: solid 1px map-get($color, shadow-secondary-3);
  border-radius: 15px;
  font-size: 210%;
  color: map-get($color, secondary-color);
  box-shadow: 0 0 10px map-get($color, shadow-secondary-3);
  @include transition-1(400ms);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;

  &:hover {
    box-shadow: 0 0 12px map-get($color, shadow-secondary-5);
    transform: translateY(-5%);
  }
}

.first-section-index {
  margin: 4% 0;
  padding: 10% 15%;
  background-color: map-get($color, shadow-secondary-3);
  box-shadow: 0 0 15px map-get($color, shadow-secondary-3);
  color: map-get($color, secondary-color);
  @include transition-1(300ms);

  &:hover {
    background-color: map-get($color, shadow-secondary-8);
    box-shadow: 0 0 20px map-get($color, shadow-secondary-8);
    color: map-get($color, primary-color);
  }

  .p-eslogan {
    font-weight: 700;
    font-size: 140%;
    text-align: center;
    margin: 0;
    @include transition-1(200ms);
  }
}

.fourth-section-index {
  margin: 4% 0;
  padding: 10% 15%;
  background-color: map-get($color, shadow-secondary-3);
  box-shadow: 0 0 15px map-get($color, shadow-secondary-3);
  color: map-get($color, secondary-color);
  @include transition-1(300ms);

  &:hover {
    background-color: map-get($color, shadow-secondary-8);
    box-shadow: 0 0 20px map-get($color, shadow-secondary-8);
    color: map-get($color, primary-color);
  }

  .p-eslogan {
    font-weight: 700;
    font-size: 140%;
    text-align: center;
    margin: 0;
    @include transition-1(300ms);
  }
}

.fifth-section-index {
  background-color: map-get($color, primary-color);
}

/* Media Queries */

@media (min-width: 768px) {
  .container-title-index {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .title-index {
      width: 70%;
      font-size: 280%;
    }
  }

  .first-section-index {
    padding: 5% 15%;

    &:hover {
      transform: scale(105%);
    }

    .p-eslogan {
      font-size: 200%;
    }
  }

  .container-carousel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10% 0;
    box-shadow: 0 0 15px map-get($color, shadow-secondary-3);
  }

  .fourth-section-index {
    padding: 5% 15%;

    &:hover {
      transform: scale(105%);
    }

    .p-eslogan {
      font-size: 200%;
    }
  }
}

@media (min-width: 992px) {
  .container-title-index {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .title-index {
      width: 50%;
      font-size: 200%;
      padding: 2% 0;
      margin: 6% 0;
    }
  }

  .first-section-index {
    padding: 5% 10%;
    font-size: 70%;
    margin: 0;
  }

  .fourth-section-index {
    padding: 5% 10%;
    font-size: 70%;
    margin: 10% 0 0 0;
  }

  .fifth-section-index {
    padding: 3% 20% 0;
  }
}

@media (min-width: 1400px) {
  .container-title-index {
    .title-index {
      font-size: 220%;
      padding: 1% 0;
      margin: 4% 7% 6% 7%;
    }
  }

  .first-section-index {
    padding: 3%;
    font-size: 70%;
    margin: 0;
  }

  .container-carousel {
    margin: 6% 10%;
  }

  .fourth-section-index {
    padding: 3%;
    font-size: 70%;
    margin: 0;
  }

  .fifth-section-index {
    padding: 3% 30% 0;
  }
}
